.NavigatiomItem {
  margin: 0;
  display: block;
  width: 100%;
}
.NavigatiomItem a {
  color: #8f5c2c;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  display: block;
  box-sizing: border-box;
}
.NavigatiomItem a:hover,
.NavigatiomItem a:active,
.NavigatiomItem a.active {
  color: #40a4c8;
}

@media (min-width: 500px) {
  .NavigatiomItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  .NavigatiomItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  .NavigatiomItem a:hover,
  .NavigatiomItem a:active,
  .NavigatiomItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
